$primary-color:#c72727;
$secondary-color: #f99500;
$light-color:#f3f3f3;
$dark-color: #333;
$max-width: 1100px;

$site-p-hl: #0d293e;
$review-c: #00b67a;
$review-c-d: #018d60;

$sports-color:#f99500;
$ent-color: #a66bbe;
$tech-color: #009cff;

$redHl: #ed1c24;
$redlt: #ffb3b3;
$redlt1: #ffe6e6;
$redlt2: #ffcccc;
$greenHl: #007b5e;

$light0: white;
$light1: #f9f9f9;
$light2: #EFF2F6;
$light3: #DFE4EA;
$light4: #C6C6C8;
$light5: #bfbfbf;
$light6: #bdbdbd;

$dark0: #000000;
$dark1: #383B3C;
$dark2: #595C5E;
$dark3: #6F7781;
